@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
.background-shape {
  position: absolute;
  z-index: -1;
  width: 640px;
  height: 860px;
  background: linear-gradient(30deg, hsl(264deg, 100%, 61%) 40%, hsl(293deg, 100%, 63%));
  border-bottom-left-radius: 350px;
  border-bottom-right-radius: 350px;
  left: -60px;
}

.background-shape2 {
  position: absolute;
  z-index: -1;
  background: linear-gradient(30deg, hsl(264deg, 100%, 61%) 40%, hsl(293deg, 100%, 63%));
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
  right: -150px;
  top: 150px;
  width: 710px;
  height: 900px;
  opacity: 0.05;
  overflow: hidden;
}

.main-flex .main-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 430px;
  height: 400px;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 150px;
  min-width: 430px;
}
.main-flex .main-descr .title {
  font-size: 35px;
  color: hsl(271deg, 36%, 24%);
  font-weight: 700;
  margin-bottom: 0;
}
.main-flex .main-descr .descr {
  font-size: 16px;
  color: hsl(270deg, 7%, 64%);
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }

  .main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    min-width: 400px;
  }
  .main-flex .main-descr {
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 300px;
    margin-left: 40%;
    margin-top: 0;
  }
  .main-flex .main-descr .title,
.main-flex .main-descr .descr {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .background-shape {
    left: -350px;
    top: -100px;
  }

  .background-shape2 {
    right: -600px;
    top: 400px;
    opacity: 0.1;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 600px;
  position: static;
  left: 50%;
  transform: translate(30%, 35%);
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  border-radius: 40px 40px 40px 40px;
  background-color: hsl(0deg, 0%, 100%);
  min-width: 300px;
  min-height: 600px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1), 5px 6px 6px rgba(0, 0, 0, 0.006), 5px 8px 8px rgba(0, 0, 0, 0.003), 5px 10px 10px rgba(0, 0, 0, 0.001);
  margin-left: 150px;
  max-width: 300px;
  max-height: 500px;
}
.phone .phone-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 95%;
  border-radius: 30px 30px 30px 30px;
  background-color: hsl(270deg, 20%, 96%);
  min-width: 250px;
  min-height: 550px;
}
.phone .phone-screen .app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 15%;
  border-radius: 30px 30px 10px 10px;
  background-color: white;
  min-width: 250px;
  min-height: 80px;
  margin-top: -24px;
  background: linear-gradient(90deg, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  position: relative;
  overflow: visible;
  margin-top: 0;
}
.phone .phone-screen .app-header::before {
  content: "";
  border-radius: 0 0 15px 15px;
  background-color: white;
  min-width: 50%;
  min-height: 21px;
  position: absolute;
  top: -1px;
  left: 25%;
}
.phone .phone-screen .app-header .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(135deg);
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.phone .phone-screen .app-header img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 27px;
  padding: 1px;
  background-color: white;
}
.phone .phone-screen .walker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}
.phone .phone-screen .walker-info .name {
  font-size: 14px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
}
.phone .phone-screen .walker-info .status {
  margin-top: -10px;
  font-size: 12px;
  color: hsl(276deg, 100%, 81%);
  font-weight: 400;
}
.phone .phone-screen .three-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
  margin-top: 25px;
  margin-left: 70px;
  gap: 2px;
}
.phone .phone-screen .three-dots div {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
}
.phone .phone-screen .app-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 0;
  height: 80%;
  width: calc(100% - 20px);
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.phone .phone-screen .app-messages .left-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 150px;
  height: 40px;
  border-radius: 12px 12px 12px 5px;
  background-color: hsla(276deg, 88%, 84%, 0.288);
  min-width: 140px;
  min-height: 40px;
  padding: 0 10px;
  font-size: 11px;
  color: hsl(276deg, 55%, 52%);
  font-weight: 500;
}
.phone .phone-screen .app-messages .messages-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 120px;
  margin-top: 10px;
  align-items: flex-end;
  gap: 10px;
}
.phone .phone-screen .app-messages .messages-right .picture-grid {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 10px;
}
.phone .phone-screen .app-messages .messages-right .picture-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.phone .phone-screen .app-messages .messages-right .right-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 150px;
  height: 40px;
  border-radius: 12px 12px 5px 12px;
  background-color: white;
  min-width: 150px;
  min-height: 40px;
  padding: 0 10px;
  font-size: 11px;
  color: hsl(271deg, 15%, 43%);
  font-weight: 500;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.phone .phone-screen .app-messages .messages-right .right-message2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 90px;
  height: 30px;
  border-radius: 10px 10px 3px 10px;
  background-color: white;
  min-width: 90px;
  min-height: 30px;
  padding: 0 8px;
  font-size: 11px;
  color: hsl(271deg, 15%, 43%);
  font-weight: 500;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.phone .phone-screen .app-messages .left-message2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 145px;
  height: 50px;
  border-radius: 12px 12px 12px 5px;
  background-color: hsla(276deg, 88%, 84%, 0.288);
  min-width: 145px;
  min-height: 50px;
  padding: 0 15px 0 10px;
  font-size: 11px;
  color: hsl(276deg, 55%, 52%);
  font-weight: 500;
  margin-top: 20px;
}
.phone .phone-screen .app-messages .payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 190px;
  height: 40px;
  border-radius: 12px 12px 12px 5px;
  background-color: none;
  min-width: 190px;
  min-height: 40px;
  background: linear-gradient(90deg, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  position: relative;
}
.phone .phone-screen .app-messages .payment .span1 {
  font-size: 11px;
  color: white;
  font-weight: 500;
  margin-left: 30px;
}
.phone .phone-screen .app-messages .payment .span2 {
  font-size: 15px;
  color: white;
  font-weight: 700;
  margin-left: 40px;
}
.phone .phone-screen .app-messages .payment .span3 {
  font-size: 15px;
  color: white;
  font-weight: 700;
  margin-left: 56px;
}
.phone .phone-screen .app-messages .payment::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
}
.phone .phone-screen .input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 20px;
}
.phone .phone-screen .input-button input {
  width: 65%;
  padding: 5px 50px 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 65%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 25px;
}
.phone .phone-screen .input-button input::-moz-placeholder {
  font-size: 12px;
  color: lightgrey;
  font-weight: 400;
}
.phone .phone-screen .input-button input:-ms-input-placeholder {
  font-size: 12px;
  color: lightgrey;
  font-weight: 400;
}
.phone .phone-screen .input-button input::placeholder {
  font-size: 12px;
  color: lightgrey;
  font-weight: 400;
}
.phone .phone-screen .input-button .right-arrow {
  position: absolute;
  bottom: 10%;
  right: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: hsl(271deg, 36%, 24%);
  border: none;
}
.phone .phone-screen .input-button .right-arrow::before {
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(315deg);
  margin-right: 3px;
}/*# sourceMappingURL=phone.css.map */